.fontTop{
  font-family: 'Kavoon', cursive;
}

body{
  background-color: #333;
  color: #fff;
}

html,
body {
  height: 100%;
}

header {
  background-image: url(../img/lousa.jpg);
  background-size: cover;
  background-position: top center;
  height: 100%;
}

.login-form{
  color: #FFF;
  background-color: rgba(0, 0, 0, .5);
  padding: 20px;
  width: 80%;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(11%, 23%);
}
.titulo{
  text-align: center;
}

.titulo h1 {
  color: #FFF;
  display: inline-block;
  margin: 0;
}
.logo-h1{
  height: 60px;
  width: 60px;
  display: inline-block;
  transform: translatey(-10%);

}

.logo-navbar{
  padding-left: 0px;
}

.panel-group{
  margin-top: 10px;
}

.panel-body{
  color: #000;
}

.panel-default>.panel-heading {
  background-color: #ccc;
}


#contato{
  color: 000
}

#contato-text{
  height:80px;
}



footer {
  background-color: #ccc;
  color: #333;
  padding: 20px;
  margin-top: 10px;
}




@media(min-width: 992px) {
	.login-form {
		left: 0;
		transform: translate(2, -80%);
		width: 50%;
	}

}
