
html,
body {
  height: auto;
}
header {
  background-image:none;
  height: auto;;
}

.pesquisa-form{
  color: #FFF;
  background-color: rgba(0, 0, 0, .5);
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  margin-top: -20px;

}
#pesquisa{
  height: 37px;
  transition: 0.3s;
}

.titulo{
  background-color: #333;
}


.itens{
  background-color: #555;
}


.aula{
  background-color: #333;
  height: auto;
  border: 1px solid #fff;
  text-align: center;
  transition: 0.3s;
  overflow:hidden;
  padding: 20px;
  margin-top :15px;
  border: 10px solid #fff;

}


.btn-increver{
  width: 100%;
}

table,th{
  text-align: center;
}



@media(min-width: 750px) {
  .pesquisa-form {
    position: relative;
    left: 19%;
    width: 60%;

  }
}
